{% extends 'base/main.html' %}
{% load static %}
{% block title %}
  تماس با ما  
{% endblock title %}

{% block content %}

<div class="contact-us-page">
  <div class="contact-us-header">
      <h1>با ما در تماس باشید</h1>
      <h3>شما می توانید از طریق فرم زیر و یا پیام رسان های ذکر شده با ما در تماس باشید</h3>
  </div>
  <div class="contact-us-content">

      <div class="contact-us-content-top">
        {% if smessage %}
        {{smessage}}
        {% endif %}
          <form method=POST>
            {% csrf_token %}
              <input placeholder="نام" name="name">
              <input placeholder="نام خانوادگی" name="lname">
              <input placeholder="ایمیل" name="email">
              <textarea placeholder="پیام" name="message"></textarea>
              <button>ارسال</button>
          </form>
          <div class="contact-us-content-top-text">
            در پیچساز، با بیش از {{about_us_itemss.experience_years}} سال تجربه و حضور فعال در بازار پیچ و مهره، به عنوان یکی از پیشگامان این صنعت، همواره به دنبال ارتقاء کیفیت و رضایت مشتریان خود بوده‌ایم. در این سال‌ها، با تکیه بر دانش فنی روز و استفاده از بهترین مواد اولیه، توانسته‌ایم طیف گسترده‌ای از محصولات را با بالاترین استانداردها ارائه دهیم.

              پیچساز با بیش از هزاران محصول متنوع و تخصصی، نیازهای مختلف صنایع و پروژه‌های ساختمانی، صنعتی و مهندسی را به دقت پوشش می‌دهد. از پیچ و مهره‌های استاندارد گرفته تا قطعات خاص و سفارشی، ما همواره در تلاش بوده‌ایم تا محصولات متنوعی را با کیفیت عالی و قیمت مناسب به مشتریان خود عرضه کنیم.

              ما در پیچساز به این باور داریم که در کنار کیفیت محصول، خدمات عالی و پشتیبانی مستمر، بخش مهمی از موفقیت ماست. به همین دلیل، همواره در تلاش هستیم تا تجربه خریدی آسان، سریع و بدون دغدغه را برای شما فراهم آوریم.
          </div>
      </div>
      <div class="contact-us-section-page">
          
          <div class="contact-us-section-links">
              
              <a class="contact-us-section-links-call" href="tel:+{{about_us_itemss.phone_number.first}}">
                <p>تماس بگیرید</p>
                <span class="links-call-list">
                  {% for i in about_us_itemss.phone_number.all %}
                  <p>{{i.phone_number}}</p>
                  {% endfor %}
                </span>
              </a>
              <a class="contact-us-section-links-sms" href="sms:+{{about_us_itemss.sms_phone_number}}">
                <p>ارسال پیامک</p>
                <p>{{about_us_itemss.sms_phone_number}}</p>
              </a>
              <a class="contact-us-section-links-telegram" href="https://wa.me/{{about_us_itemss.whatsapp_id}}">
                <p>واتساپ</p>
                <p>{{about_us_itemss.whatsapp_id}}</p>
              </a>
              <a class="contact-us-section-links-instagram" href="https://web.eitaa.com/{{about_us_itemss.eita_id}}">
                <p>ایتا</p>
                <p>{{about_us_itemss.eita_id}}</p>
              </a>
          </div>
          
      </div>
      
      
      
  </div>
</div>
{% endblock %}


